@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@1&display=swap');

/*-------------variables - How to use----------------
:root{
    --black:#101820;
}
body{
    background-color:var(--black);
}
-----------------------------------------------------------*/

/*-----------------Directory------------------*/
/*
1.1 - Variables

2.1 - Page and Body setup    

3.1 - Header & Footer
 3.2 - Header Links and Interaction

4.1 - Body
 4.2 - Index Page (Home Page)

 5.1 - Page/Media screen setup
*/
/*-----------------Directory-----------------*/


/* 1.1 Variables
/**/

:root{
    --main-blue:rgb(197, 221, 253);
}

/*-------------------------------------------------*/

/* 2.1 Page and Body Setup
/**/

/*Page and body sizing*/
html, body {
    margin:0;
    padding:0;
    max-width:100%
}
body{
    background-color: rgb(144, 179, 255);
    font-family: 'Open Sans', sans-serif;
}


/*-------------------------------------------------*/
/* 3.1 - Header & Footer
/**/

.pageNav{
    background-color: var(--main-blue);
    width: 100%; 
    padding-top:5px;
    border-top: 0px;
    margin-left: auto;
    margin-right: auto;
}
.mainfooter{
    display:inline-block;
    width:100%;
    margin:2em 0 0;
    background-color:var(--main-blue);
}


/*----------------------------------*/
/* 3.2 - Header Links and Interaction
/**/

.pageNav li{
    /*element display type and locations*/
        display: inline;
        list-style-type: none;
        vertical-align: middle;
    /*colors*/
        padding: 10px;
        background-color:var(--main-blue);
        border-radius: 5px;
    /*margins, padding, and borders*/
        margin-top: 0px;
        margin-right:0.25em;
        margin-left:0.25em;
    /*Font changing*/
        font-size: 1.5em;
}
#navImage{
    padding: 0px;
}
#image1{
    max-width:75px;
    max-height:75px;
    background-color:inherit;
}
.pageNav a:link, .pageNav a:visited, .pageNav a:active{ 
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 10px;
}#blueLi:hover{ 
    text-decoration: none;
    background-color:rgb(170, 217, 255);
    transition: 0.2s;
}#redLi:hover{ 
    text-decoration: none;
    background-color:rgb(255, 170, 170);
    transition: 0.2s;
}#whiteLi:hover{ 
    text-decoration: none;
    background-color:rgb(255, 255, 255);
    transition: 0.2s;
}

.headerIntro{
    display:relative;
}#headerImage{
    width: 100%;
}.headerText{
    display: relative;
    margin-left:auto;
    width:550px;
    margin-right:auto;
    padding: 5px;
    /*background-color:rgba(255, 255, 255, 0.664);*/
    color:rgb(255, 255, 255);
    font-size:2.5em;
    text-align:center;
    font-family: 'IM Fell French Canon', serif;
    border: 2px solid rgb(255, 106, 106);
    background-color:rgba(0, 0, 0, 0.377);
    border-radius: 10px;
}

/*-------------------------------------------------*/
/* 4.1 - Body
/**/
.bodyContents{
    transform: translate(0, -10em);
}

/*-------------------------------------*/
/* 4.2 - Index Page (Home Page)
/**/

/* Class Names = Vert - Vertical || Hor - Horizontal */

.flex-container, .flex-container-vertical{
    display: flex;
    flex-wrap:wrap;
    width: 95%;
    margin:0 auto;
}
.flexHorizTypeOne, .flexHorizTypeTwo, .flexVertTypeOne{
    background-color: rgba(255, 255, 255, 0.336);
    width: 50%;
    text-align:center;
} 
.flex-container-vertical{
    flex-direction: column;
    margin: 2em auto;
    width: 95%;
}
.flexVertTypeOne{
    width:100%;
}
#xtraPadding{
    padding: 3em 0em 5em;
}

.horizFlexText{
    padding:1em;
    margin:20% 0 0;
    /*background-color: rgba(255, 255, 255, 0.336);*/
}
.vertFlexText{
    padding: 0.5em 0;
    width:25em;
    margin:0 auto;
}
.horizFlexImage{
    display:block;
    max-width:100%;
}
.vertFlexImage{
    width:100%;
}
.horizFlexLink, .vertFlexLink{
    display:block;
    border: 1px solid rgb(144, 179, 255);
    width:10em;
    margin:auto;
    margin-top:1em;
    padding: 1em 0;
    border-radius: 5px;
}
.vertFlexLink{
    width:50em;
    padding: 0em;
}
.horizFlexLink:hover, .vertFlexLink:hover{ 
    text-decoration: none;
    background-color:rgb(144, 179, 255);
    transition: 0.2s;
}.horizFlexLink:link, .horizFlexLink:visited, .horizFlexLink:active, .vertFlexLink:link, .vertFlexLink:visited, .vertFlexLink:active{ 
    text-decoration: none;
    color: black; 
}



/*-------------------------------------*/
/* 4.2 - Menu Page (Food Menu)
/**/

input[type=submit]{
    text-decoration-line: underline;
    background-color: #929090;
    border: 2px solid black;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.25em;
}
input[type=submit]:hover{
    background-color: #b6b6b6;
    transition: 0.2s;
}
#menuForm{
    margin:auto auto 0em;
    padding: 0em 0em 3em 0;
    background-color:rgb(37, 94, 141);
    font-family: 'IM Fell French Canon', serif;
    color:rgb(194, 194, 194);
    border: rgb(141, 54, 54) solid 5px;
}
#menuSelect{
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    text-align: center;
}
#vertMenu{
    background-color:rgba(255, 255, 255, 0);
}

#menuDownload{
    background-color: DodgerBlue;
    width:40%;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    transform: translate(0, 200%);
}
#menuDownload:hover{
    background-color: RoyalBlue;
    transition: 0.2s;
}



/*-------------------------------------*/
/* 4.3 - About Page (Story)
/**/

#aboutTitle {
    margin: 20px auto;
}
#aboutPara{
    margin:20px auto;
    width:40%;
}
#aboutImage{
    margin:20px auto;
    width: 60%;
}



/*-------------------------------------------------*/
/* 5.1 - Page/Media
/**/

#page{ /*with the #page and @media, its checking the size of the window, and if its 40em, 64em etc, it will use the one that fits, its like an OR statement*/
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

}
@media screen and (min-width: 40em) { 
    #page{
        max-width: 50em;
    }
    .headerText{
        transform: translate(0, -200%);
    }
    .flexHorizTypeOne, .flexHorizTypeTwo{
        width:100%;
        gap:10px;
    }
    .horizFlexText, .horizFlexLink{
        transform: translate(0, -4em);
    }
    #menuForm{
        width: 75%;
    }
}

@media screen and (min-width: 64em){
    #page{
        max-width: 75em;
    }
    .headerText{
        transform: translate(0, -20em);
    }
    .flexHorizTypeOne, .flexHorizTypeTwo{
        width:50%;
        gap:0px;
    } 
    .horizFlexText, .horizFlexLink{
        transform: translate(0, 0);
    }
    #menuForm{
        width: 60em;
    }
}